{% extends "base.html" %}

{% block css %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if ok %}
<!-- the main page -->
<div class="uk-container uk-container-medium">
    <br>
    <h2 class="uk-heading-divider uk-text-center">All Items</h2>
    <div class="uk-container">
        <div class="item-grid uk-text-center uk-grid-match uk-grid-medium uk-child-width-1-3" uk-grid>
            {% for i in items %}
            <div class="uk-card uk-card-default uk-card-body" data-tilt data-tilt-max="30">
                <h3 class="item_title">
                    <a href="/items/{{i.id}}/">{{ i.title }}</a>
                </h3>
                <p class="item_metadata">
                    <b>${{ i.price_per_day }}/day, {{ i.max_borrow_days }} days max</b>
                </p>
                <p>
                    {{ i.description }} - <a href="/users/{{i.owner.id}}/">{{ i.owner.first_name }} </a>
                    <a href="/users/{{i.owner.id}}/">{{ i.owner.last_name }} </a>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% else %}
<h1 class="uk-heading-primary">
    There was an error!
</h1>
<img src="{% static 'img/whoops.png' %}" uk-img />
{% endif %}
{% endblock %}