{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link href="{% static 'uikit/css/uikit.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<link rel="shortcut icon" type="image/png" href="{% static 'img/poop.png' %}" />
	{% block css %}{% endblock %}
	<title>ShareSh*t{% block title %}{% endblock %}</title>
</head>

<body>
	<!-- NAVBAR -->

	<nav class="uk-navbar-container uk-navbar uk-navbar">
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="/">
				<div class="uk-animation-toggle uk-animation-shake">
					<i class="em-svg em-hankey uk-animation-shake"></i>
				</div>
				&nbsp ShareSh*t
			</a>
			<ul class="uk-navbar-nav">

				<li>
					<a href="#">Sh*t in your area</a>
				</li>
				<li>
					<a href="/all_items">All Items</a>
				</li>
			</ul>
		</div>
		<div class="uk-navbar-center">
			<div class="uk-navbar-item">
				<form class="uk-search uk-search-navbar" action="/search/" method="get">
					<!-- {% csrf_token %} -->
					<span uk-search-icon></span>
					<input class="uk-search-input" name="query" value="{% if query %}{{query}}{%endif%}"type="search" placeholder="Search...">
				</form>
			</div>
		</div>
		{% if logged_in %}
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<a href="/profile">My Profile</a>
				</li>
				<li>
					<a href="/post_item">
						<button class="uk-button uk-button-default uk-button-small post_item_button">
							<span class="button_text">Post your sh*t here!</span>
						</button>
					</a>
				</li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
		{% else %}
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<a href="/post_item">
						<button class="uk-button uk-button-default uk-button-small post_item_button">
							<span class="button_text">Post your sh*t here!</span>
						</button>
					</a>
				</li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</div>
		{% endif %}
		<!--      -->
	</nav>

	<!-- the main page -->
	<div class="content uk-container uk-margin">
		{% block content %}{% endblock %}
		<div class="push"></div> <!-- used for fixed footer -->
	</div>


	<!-- the footer -->
	<div class="uk-section uk-section-secondary footer">
		<div class="uk-container">
			<h3>
				<i class="em-svg em-hankey"></i>
				&nbsp ShareSh*t
			</h3>
			<ul class="uk-list">
				<li><a href="/">About</a></li>
				<li><a href="/">Careers</a></li>
				<li><a href="/">Privacy</a></li>
				<li><a href="/">Legal</a></li>
			</ul>
			<div>
				© 2018 ShareSh*t
			</div>
		</div>
	</div>

	{% block js %}
	<script type="text/javascript" src="{% static 'js/vanilla-tilt.min.js' %}"></script>
	<script src="{% static 'uikit/js/uikit.min.js' %}"></script>
	<script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
	{% endblock %}

</body>

</html>