{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link href="{% static "uikit/css/uikit.min.css" %}" rel="stylesheet">
	<link href="{% static "css/base.css" %}" rel="stylesheet">
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static "img/poop.png" %}" />
	{% block css %}{% endblock %}
	<title>ShareSh*t{% block title %}{% endblock %}</title>
</head>

<body>
	<!-- NAVBAR -->
	<nav class="uk-navbar-container uk-navbar">
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<a class="uk-navbar-item uk-logo" href="/">
					<div class="uk-animation-toggle uk-animation-shake">
						<i class="em-svg em-hankey uk-animation-shake"></i>
					</div>
					&nbsp ShareSh*t
				</a>
	        	<li>
	        		<a href="#">Sh*t in your area</a>
	        	</li>
	        	<li>
	        		<a href="#">All Items</a>
	        	</li>
	        </ul>
	    </div>
	    <div class="uk-navbar-center">
	    	<ul class="uk-navbar-nav">
	    		<li>
	    			<button class="uk-button uk-button-default" style="background-color: brown;"><a href="/post_item" style="color: white; font-size: 120%;">Post your shit here!</a></button>
	    		</li>
			</ul>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
			</ul>
		</div>
		<!--      -->
	</nav>


	<!-- the main page -->
	<div class="content uk-container uk-margin">
		{% block content %}{% endblock %}
		<div class="push"></div> <!-- used for fixed footer -->
	</div>


	<!-- the footer -->
	<div class="uk-section uk-section-secondary footer">
		<div class="uk-container">
			<h3>
				<i class="em-svg em-hankey"></i>
				&nbsp ShareSh*t
			</h3>
			<ul class="uk-list">
				<li><a href="/">About</a></li>
				<li><a href="/">Careers</a></li>
				<li><a href="/">Privacy</a></li>
				<li><a href="/">Legal</a></li>
			</ul>
			<div>
				© 2018 ShareSh*t
			</div>
		</div>
	</div>

	{% block js %}
	<script type="text/javascript" src="{% static "js/vanilla-tilt.min.js" %}"></script>
	<script src="{% static "uikit/js/uikit.min.js" %}"></script>
	<script src="{% static "uikit/js/uikit-icons.min.js" %}"></script>
	{% endblock %}

</body>

</html>