{% extends "base.html" %}

{% block css %}
{% load static %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 align="center">Register Now!</h1>
<div class="center">
    <div class="register">
    <form method="post">
            {% if error %}
                <p id="error">{{ error }}</p>
            {% endif %}

            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><button class="uk-button uk-button-default poop" type="submit" name="submit" value="Register"
                            onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Account Registered'})">
                            Register</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}