{% extends "base.html" %}

{% block content %}

{% if ok %}

{% if reviews %}
<h1>All Reviews for {{ reviews.0.reviewee.first_name }}</h1>
{% else %}
<h1>No Reviews!</h1>
{% endif %}

{% for review in reviews %}
<div class="uk-card uk-card-body">
    <h2>Review by: <a href="/users/{{review.reviewer.id}}/">{{review.reviewer.first_name}}
            {{review.reviewer.last_name}}</a></h2>
    <h4>Rating: {{ review.score }}/5</h4>
    <p>Description: {{review.text}}</p>
</div>
{% endfor %}

{% else %}
<h1>Something went wrong!</h1>
{% endif %}

{% endblock %}