{% extends "base.html" %}

{% block css %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/item.css' %}" rel="stylesheet">

{% endblock %}

{% block title %} | {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
{% if ok %}

<div class="uk-section">
	<div class="uk-grid">

		<div class='uk-width-1-4'>
			<img src="{% static 'img/Placeholder.png' %}" alt="Image of Item" />

		</div>
		<div class="uk-width-3-4">
			<h1 class="uk-heading-primary">
				{{user.first_name}} {{user.last_name}}
			</h1>
			{% if myself %}
			<a href="/update_profile/">Update your profile</a>
			{% else %}
			<a href="/post_review/{{user.id}}">Post a review for {{ user.first_name }}</a>
			{% endif %}
			</br>
			<h5><b>Zipcode: {{user.zip_code}}</b></h5>
			<h5><b>Rating: {{score}}/5</b></h5>
		</div>
	</div>
</div>

<h2 class="uk-heading-divider">Overview</h2>
<div class="uk-container uk-container-medium uk-margin">
	<h4>{{user.overview}}</p>
</div>


<h2 class="uk-heading-divider">Items - {{ items|length }}</h2>
<div class="uk-container uk-container-medium uk-margin" style="overflow:auto; height:300px;">
	<ul class="uk-list uk-list-divider featured-items">
		{% for i in items %}
		<li>
			<h5><a href="/items/{{i.id}}/">{{ i.title }}</a> - ${{ i.price_per_day }} per day, {{ i.max_borrow_days }} days max</h4>
				<p>{{ i.description }}</p>
		</li>
		{% endfor %}
	</ul>

</div>

</br>
</br>

{% if reviews|length %}
<h2 class="uk-heading-divider"><a href="/all_reviews/{{user.id}}">Reviews</a> - {{ reviews|length }}</h2>
{% else %}
<h2 class="uk-heading-divider">Reviews - {{ reviews|length }}</h2>
{% endif %}
<div class="uk-container uk-container-medium" style="overflow:auto; height:300px;">
	<ul class="uk-list uk-list-divider featured-items">
		{% for review in reviews %}
		<li>
			<h4><a href="/users/{{review.reviewer.id}}/">{{review.reviewer.first_name}}
					{{review.reviewer.last_name}}</a></h4>
			<h4>Score: {{ review.score }}/5</h4>
			<p>{{review.text}}</p>
		</li>
		{% endfor %}
	</ul>
</div>
{% else %}
<h1 class="uk-heading-primary">
	No user found!
</h1>
<img src="{% static 'img/whoops.png' %}" uk-img />
{% endif %}
{% endblock %}