html, body{
	height: 100%;
}
.post_item_button{
	background-color: rgb(205, 97, 73);
	border-radius: 500px;
	height: 42px;
}
.button_text{
	color: white;
	text-decoration: underline;
	font-size: 120%;
}
.content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* same as footer height */
}

footer, .push {
    height: 50px;
}

.uk-search {
	border-radius: 10px;
	border-width: 2px;
	border-color: rgb(153,153,153);
	border-style: solid;
}