html, body{
	height: 100%;
}
.post_item{
	background-color: rgb(205, 97, 73);
	text-decoration: underline;
}
.post_item_link{
	color: white;
	font-size: 120%;
}
.content {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* same as footer height */
}

footer, .push {
    height: 50px;
}