#error{
    color: red;
}
h1{
    padding: 40px;
}
#center_login{
    margin: 0 auto;
    width: 190px; 
}
#center_register{
    padding: 0px 0px 0px 180px;
    margin: 0 auto;
    width: 825px;
}
.poop{
    background-color: rgb(205, 97, 73);
    margin: 7px 0px 0px 25px;
    width: 150px;
}