#error{
    color: red;
}
h1{
    padding: 40px;
}
.center{
    display: flex;
}
.login{
    width: 200px;
    margin: auto;
}
.register{
    width: 400px;
    margin: auto;
}

.center_button{
    display: flex;
    justify-content: center;
}
.center_button_register{
    margin: auto;
    display: block;
}
.poop{
    background-color: rgb(205, 97, 73);
    width: 150px;
}